{% extends "layouts/base.html" %}

{% block title %}BookStore{% endblock %}
{% block content %}

<!-- Banner -->
<section class="banner">
  <div class="banner-text">
    <h1>Chào mừng đến với BookStore</h1>
    <p>Khám phá ngàn đầu sách chất lượng, giá tốt, giao hàng tận nơi!</p>
  </div>
</section>

<div class="page-content">
<!-- Sách mới/nổi bật -->
<section class="featured-section">
  <h2>Sách nổi bật</h2>
  {% if featured_books %}
    <div class="featured-grid">
      {% for book in featured_books %}
        <div class="card featured-book-card">
          <a href="/book/{{ book.slug }}">
            <img src="{{ url_for('static', filename='images/' ~ book.image) }}" alt="{{ book.title }}">
          </a>
        <div class="book-info">
          <a href="/book/{{ book.slug }}" class="title">
            <h3>{{ book.title }}</h3>
          </a>
        </div>
          <div class="book-bottom">
            <p class="price"><strong>{{ book.price }}</strong></p>
            <a href="/book/{{ book.slug }}" class="buy-cta">Mua ngay</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Chưa có sách nổi bật nào.</p>
  {% endif %}
</section>

<!-- DANH SÁCH SÁCH MỚI -->
<section class="book-section">
  <h2>Sách mới nhất</h2>
  {% if books %}
    <div class="grid book-grid">
      {% for book in books %}
        <div class="card book-card">
          <a href="/book/{{ book.slug }}">
             <img src="{{ url_for('static', filename='images/' + book.image) }}" alt="{{ book.title }}">
          </a>
          <div class="book-info">
            <a href="/book/{{ book.slug }}" class="title">
              <h3>{{ book.title }}</h3>
            </a>
          </div>
          <div class="book-bottom">
            <p class="price"><strong>{{ book.price }}</strong></p>
            <a href="/book/{{ book.slug }}" class="buy-cta">Mua ngay</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Chưa có sách nào được cập nhật</p>
  {% endif %}
</section>

<!--  Pagination-->
  <div class="pagination">
    {% for p in pages %}
        {% if p == '...' %}
            <span class="dots">...</span>
        {% elif p == current_page %}
            <span class="current">{{ p }}</span>
        {% else %}
            <a href="{{ url_for('homepage', page=p) }}">{{ p }}</a>
        {% endif %}
    {% endfor %}
</div>

  <!-- Gọi hành động -->
<section class="cta-section">
  <h2>Tham gia cộng đồng đọc sách ngay hôm nay!</h2>
  <a href="/register" class="cta-button">Đăng ký ngay</a>
</section>


</div>
{% endblock %}
